.container {
    width: 95vw;
    display: flex;
    justify-content: flex-end;
    height: 100px;
}

.header {
    width: 100%;
}

.image {
    position: absolute;
    margin-right: 70px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.title {
    color: white;
    font-size: 3rem;
    text-decoration: none;
    font-weight: bolder;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    height: 40px;
    margin-top: 27px;
}

.nav-item {
    color: #999999;
    font-size: 1.2rem;
    margin-right: 1.35rem;
    text-decoration: none;
    position: relative;
    transition: all .3s linear;

    &:after{  //we'll use the :after pseude element to create our bulb!
        content: ''; //all pseudo element MUST have a content declaration!
        $size: 8px;
        width: $size;
        height: $size;
        background: #555555;
        display: inline-block;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -$size/2; //offset the bulb to center it perfectly
        border-radius: 50%;
        transform: scale(.5);
        transition: all 10s cubic-bezier(0.610, 0.000, 0.405, 1.630);
    }

    &:hover {
        color: #666666;
        transform: scale(1) ;
    }
}



.active-nav-item {
    color: #555555;

    &:after{
        transform: scale(.8) ;
        //when the link is active lets scale upo that bulb!
    }
}

@media (max-width: 750px) {
    .container {
        transform: translateX(-300%);
    }
}